
<div style="padding-right: 15px; padding-left: 15px;" >
<br>
	<div class="col-md-12">
		<div class="panel panel-danger %>">
			<div class="panel-heading">
				<h2><span class="glyphicon glyphicon-warning" aria-hidden="true"></span> Error <small>   de Malade ! </small></h2>
				
			</div>
			<div class="panel-body" >
				<%= @error%>
			</div>
		</div>
	</div>
</div>




