<div style="padding-right: 15px; padding-left: 15px;" >
  <div class="panel panel-info">
    <div class="panel-heading"><h4> available images : <h4></div>
    <div class="panel-body" >
      <table class="table table-bordered table-hover" >
        <%= @container %>
        <tr><td><b></b></td><td> </td></tr>

      </table>
    </div>
  </div>
</div>