<div style="padding-right: 15px; padding-left: 15px;" >
  <div class="panel panel-info">
    <div class="panel-heading"><h4> available images : <h4></div>
    <div class="panel-body" >
      <table class="table table-bordered table-hover" >
        <%- @search.each do |s| %>
        <%- image = s.id %>
        <% if !image.split("/")[1] %>
        <% imageurl = "_/"+image %>
        <% else %>
        <% imageurl = "u/"+image %> 
        <% end %>
        <tr><td><b><%= image %></b></td><td> <%= button_to "More infos", "https://registry.hub.docker.com/"+imageurl+"/", :method => :"get",  :class => "btn btn-info", form: { target: '_blank'} %>  </td>
        <td>
         <%= button_to "Delete it !", container_path(c.id, "delete"), :method => :"put",  :class => "btn btn-danger"%>
        </td>
        </tr>


        <% end %>
      </table>
    </div>
  </div>
</div>