<!DOCTYPE html>
<html>
  <head>
    <title>DockerApp</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="navbar-header">
	<ul class="nav navbar-nav ">
	  <li>
	    <a href="/"><span class="fa fa-home" aria-hidden="true"></span>     Home</a>
	  </li>
	  <li>
	    <a href="/containers"><span class="fa fa-archive" aria-hidden="true"></span>    Containers</a>
	  </li>
	  <li>
	    <a href="/images"><span class="fa fa-file-image-o" aria-hidden="true"></span>    Images</a>
	  </li>
	  <li>
	    <a href="/docker_files"><span class="fa fa-file-text" aria-hidden="true"></span>  DockerFile</a>
	  </li>
	</ul>
      </div>
    </nav>
    <div style="clear: both; padding-top: 50px; ">
      <div>
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
